/*  your css code here. If applicable */
/* Container */
#container {
	width: 280px;
	padding: 10px;
	background-color: lightgrey;
	border-radius: 10px;
}

/* Heading */
#container h2 {
	margin: 0 0 10px 0;
}

/* Notification block */
.notification {
	display: flex;
	align-items: center;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Image */
.notification img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid black;
}

/* Text */
.notification p {
	margin: 0;
	margin-left: 10px;
	flex: 1;
}

/* User name */
.notification .user {
	font-weight: bold;
}

/* Time */
.notification .time {
	display: block;
	text-align: right;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

/* Button */
button {
	margin-top: 10px;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #02203c;
	color: white;
	border: none;
	cursor: pointer;
}
